@model ETFCalculatorApp.Models.CompoundingModel;

@{
    ViewData["Title"] = "ETF Investments Calculator";
}

<div class="text-center">
    <p>Starting Amount : €@Model.StartingAmount</p>
    <p>Recurring Amount : €@Model.RecurringInvestmentAmount</p>
    <p>Total Time in Years : @Model.TotalInvestmentYears</p>
    <p>Growth Rate : @Model.ExpectedGrowthPercentage%</p>
    <p>Interval : @Model.RecurringInvestmentInterval</p>

    <p>€@Model.TotalResult.ToString("F2")</p>
</div>
